.pokemon-list {
    overflow: hidden;
    height: inherit;
}

.pokemon-list .pokemon-item {
    font-size: 14px;
    padding: 4px;
    margin-bottom: 1px;
}

.pokemon-list .pokemon-item:hover,
.pokemon-list .pokemon-item.active {
    background-color: #CCCCCC;
}